<h2>Welcome to Blocipedia<br><small>Ths is a friendly gathering place<br>where you can get your "knows" on!</small></h2>

  <br><br>

  <%= link_to "View a list of all available Wiki Articles", wikis_path, class: "btn btn-lg btn-info btn-block"%></li>
  <br><br>
  <%= link_to "Contribute Your Own Masterpiece", new_wiki_path, class: "btn btn-lg btn-success btn-block" %></li>
