<br>
<%= link_to "Contribute Your Own Masterpiece", new_wiki_path, class: "btn btn-success active" %>  OR
<%= link_to "Go read some news", news_index_path, class: "btn btn-primary active" %>
<div class="row">
   <div class="col-md-8">
     <br>
     <%= render @wikis %>
    </div>
 </div>
 <br>
 <%= link_to "Can't find it?  Create it!", new_wiki_path, class: "btn btn-success active" %></li>
 <div class="row">
   <br>
