<h2>Create a reference for your Wiki article</h2>
<div class="row">
  <div class="col-md-4">
    <p>Guidelines</p>
    <ul>
      <li>Use a good description</li>
      <li>Test your link just to be sure it's good!</li>
    </ul>
  </div>
    <div class="col-md-8">
     <%= render partial: 'form', locals: { wiki: @wiki, reference: @reference } %>
   </div>
 </div>
