<h2><%= @reference.name %></h2>

 <div class="row">
   <div class="col-md-8">
     <p class="lead">
       <pre><%= @reference.date %>    <%= @reference.link %></pre>
       </p>
    </div>
 </div>
 <br>
   <%= link_to "Back to List", wikis_path, class: 'btn btn-primary' %><br>
   </div>
