<% if current_user.premium? %>
  <h5>Thank you! Your payment of <strong>$9.99</strong> was approved and you are now a Premium member!</h5>
<% else %>
  <h5>You are now back to a Standard Membership!<h5>
<% end %>
<br>

<h3>What would you like to do now?</h3>
<br>
<%= link_to "View a list of all available Wiki Articles", wikis_path, class: "btn btn-info active"%></li>
<%= link_to "Contribute Your Own Masterpiece           ", new_wiki_path, class: "btn btn-success active" %></li>
<%= link_to "News of the Day                           ", news_index_path, class: "btn btn-primary active " %></li>
